@model MVC_Beginner.Models.ChuckNorrisAPI

@{
    ViewBag.Title = "Index";
}



    <div class="jumbotron">
        <h1>Random Chuck Norris Joke</h1>
        <p>@Model.value</p>
        <img src = "@Model.icon_url" />
    </div>   




